# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Logs
logs
*.log

# Dependency directories
node_modules/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py